/*======================================================================
                                Colors
======================================================================*/
.culturedWhitebg {
  background-color: #FAF9F9;
}

.culturedWhitetx {
  color: #FAF9F9;
}

.pinkbg {
  background-color: #F7C6CC;
}

.pinkbgfaded {
  background-color: rgba(247, 198, 204, 0.4);
}

.pinktx {
  color: #F7C6CC;
}

.morningBluebg {
  background-color: #89B0AE;
}

.morningBluetx {
  color: #89B0AE;
}

.oldLavenderbg {
  background-color: #6D6875;
}

.oldLavendertx {
  color: #6D6875;
}

.blackFograbg {
  background-color: #00171F;
}

.blackFogratx {
  color: #00171F;
}

/*=======================================================================================
                                          Global Items
=========================================================================================*/

.button {
  padding: 10px 15px;
  border-radius: 6px;
  align-content: center;
  color: black;
  background-color: #ffe3e3;
  border: none;
}

.button:hover {
  text-decoration: none;
  background-color: #f7b2ba ;
  color: white;
}

/*=======================================================================================
                                          INDEX
=========================================================================================*/

/*=======================================================================================
                                          Nav Bar
=========================================================================================*/


/* navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

#logo {
  width: 50%;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* Hide the links inside the navigation menu */
.topnav #myLinks {
  display: none;
}

 /*Style navigation menu links */
.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

 /*Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
}

#myLinks a {
  text-align: center;
}

.topnav a:hover {
	color: #fca311;
}

a.icon:hover {
  background-color: #FAF9F9;
}

.fa-bars:hover {
  color: pink;
}

/* grey background color on mouse-over */
#myLinks a:hover {
  background-color: #FAF9F9;
  color: #00171F;
}


/*=======================================================================================
                                          Hero Banner
=========================================================================================*/

.heroBanner {
  position: relative;
}

.heroBanner video {
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-family: Serif;
    color: #F7C6CC;
}

.overlay h2, h1 {
  font-size: 70px;
}

video {
  filter: opacity(40%);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

  .heroDesktop {
    display: none;
  }

/*=======================================================================================
                                Homepage About and Call to Action
=========================================================================================*/

.homepageAbout {
  text-align: center;
  padding: 20px 20px 150px 20px;
}

.homepageAbout h2 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.homepageAbout p {
  padding-bottom: 40px;
}

.menuBtn {
  padding: 10px 15px;
  border-radius: 6px;
  align-content: center;
  color: black;
  background-color: #ffe3e3;
}

.menuBtn:hover {
  text-decoration: none;
  background-color: #f7b2ba ;
  color: white;
}


/*=======================================================================================
                                        Photo Gallery
=========================================================================================*/

.index-gallery {
  text-align: center;
}

.pictureCard {
  max-width: 360px;
  margin: auto;
  border: 1px solid rgba(247, 198, 204, .4);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 1px 4px rgba(247, 198, 204, .6);
  /* padding-right: 20px; */
}

.pictureCard img{
  margin-bottom: 2.5rem;
  transition: transform .5s;
  border-radius: 4px;
}

.pictureCard img:hover {
  transform: scale(1.2);
}

/*=======================================================================================
                                        Footer
=========================================================================================*/
.footer-wrapper {
  display: block;
}

.foot-top form {
  float: left;
  padding-left: 2rem;
}

.footer-menu {
  float: right;
  padding-right: 5rem;
  text-align: center;
}

.footer-menu a {
  display: block;
  color: black;
  padding-top: 1rem;
}

.footer-menu a:hover {
  text-decoration: none;
  color: #f7b2ba;
}

.footer-copy {
  text-align: center;
}

.social {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.newsletter-input {
  padding-bottom: 1rem;
}

/*=======================================================================================
                                        Menus
=========================================================================================*/

.menus {
  align-content: center;
}

.menus img {
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
}

#menu0 {
  padding-top: 2rem;
}




/*=======================================================================================
                                        Contact
=========================================================================================*/
.contactTitle {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: rgba(247, 247, 247, .4);
  padding: 20px;
}

#contactBtn {
  text-align: center;
}

/*=======================================================================================
                                        Media Queries
=========================================================================================*/

/*          Tablets               */


@media screen and (min-width: 501px) {

}

@media screen and (min-width: 481px) {
}
/*      Small Laptops             */
@media screen and (min-width: 769px) {

  .icon {
  visibility: hidden;
  align-items: left;
}

  .topnav {
    display: flex;
  }

  .topnav a:not(:first-child) {
    display: flex;
    align-items: right;
  }

  .topnav {
    background-color: #f7c6cc;
  }

  .topnav a {
    color: black;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menus img {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    height: 100vh;
    padding-bottom: 2rem;
  }

  .heroBanner {
    display: none;
  }

  .heroDesktop {
    display: block;
    position: relative;
    text-align: center;

  }

  .cupcakebgimg {
    height: 60vh;
    width: 100%;
    opacity: 0.4;
  }

  #heroTite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .index-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  	justify-content: space-around;
  }

  .pictureCard {
    padding-top: 0;
  }

  .foot-top form {
    float: left;
    padding-left: 7rem;
  }

  .footer-menu {
    float: right;
    padding-right: 5rem;
    text-align: center;
  }

}
/*          Desktops              */
@media screen and (min-width: 1025px) {




  /* MENU PAGE */
  /* .menus img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
  } */
  /* .footer-wrapper-wrapper {
    display: block;
  } */



  /*==========================================
                 FOOTER
  ==========================================*/
  .foot-top form {
    float: left;
    padding-left: 1rem;
  }

  .footer-menu {
    float: right;
    padding-right: 5rem;
    text-align: center;
  }

}
